<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-sacle=1" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" rel="stylesheet"/>
        <link href="/stylesheets/app.css" type="text/css" rel="stylesheet"/>
        <title>Blog App</title>
    </head>
    <body>
	<div class="ui fixed inverted menu">
	    <div class="ui container">
		<div class="header item"><i class="coffee icon"></i> Blog Site</div>
		<a href="/blogs" class="item">Home</a>
		<a href="/blogs/new"  class="item">New Post</a>
	    </div>
	</div>
